@charset "UTF-8";

/*底部*/
.footer{
    height: 180px;
    background-color: #fff;
}
.foot-l{
    width: 144px;
    height: 143px;
    margin-top: 18px;
    background: url(../images/9.png) no-repeat;
    float: left;
    margin-right: 50px;
}
.foot-l a{
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -2000em;
}
.foot{
    width: 1050px;
    height: 125px;
    padding-top: 15px;
    margin: 0 auto;
}
.top-logo{
    height: 50px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.top-logo li{
    float: left;
    width: 80px;
    height: 20px;
    line-height: 20px;
}
.top-logo ul{
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 50px;
}
.top-logo li a{
    color: #666;
    font-size: 14px;
}
.bott-text{
    text-align: center;
    font-size: 12px;
    color: #666;
    height: 60px;
    width: 1000px;
}
