@charset "utf-8";

/*初始化*/
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow-x: hidden;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    color: #333;
}

div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, textarea, table, td {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

area {
    outline: none;
}

img {
    border: 0;
    outline: none;
}

ol, ul {
    list-style: none;
}

a {
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    zoom: 1;
}


/*header*/
embed{
    float: left;
}
.header{
    width: 100%;
    height:43px;
    /*background-color: red;*/
    padding: 6px 0;
}
.head{
    width: 1040px;
    height: 43px;
    padding-left: 40px;
    margin: 0 auto;
}

.header .icon_logo{
    width: 43px;
    height:43px;
    float: left;
    margin-right: 40px;
    background:url("../images/icon_logo.png")
}

.head .head_menu {
    margin-right: 45px;
    padding-top: 12px;
    float: left;
}

.head_menu li{
    width: 117px;
    height: 20px;
    float: left;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    border-left: 1px solid #c2d0cf;
    cursor: pointer;
}
.head_menu .first{
    border-left: none;
}
.head_menu li a{

    color: #527977;
}
.head_menu li a:hover{
    color: #d8767b;
}

.head_wei{
    width: 102px;
    height: 35px;
    padding: 4px 0 4px 50px;
    float: left;
    background: url("../images/wx_head.png") 5px center no-repeat;
    position: relative;
}

.head_wei p{
    line-height: 17px;
    font-size: 14px;
    color: #527977;
}

.wx_hover{
    display: none;
    width: 134px;
    height: 184px;
    padding: 0 9px;
    position: absolute;
    top: 48px;
    left: 0;
    background-color: #fff;
}

.qrcode_wx{
    width: 134px;
    height: 133px;
    margin-top: 8px;
    background: url("../images/qrcode_wx.jpg") center center no-repeat;
}

.wx_hover p{
    padding-left: 14px;
    color: #585858;
    font-size:14px;
}

.wx_hover .color{
    color: #db465a;
}

.head_wei:hover .wx_hover{
    display: block;
    z-index: 999;
}


/*第二部分*/
.bg {
    width: 100%;
    min-height: 905px;
    min-width: 1080px;
    overflow: hidden;
    position: relative;
    background: url(../images/bg_cover.jpg) center top no-repeat;
}
.bg_bottom {
    width: 100%;
    height: 596px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../images/bg_bottom.jpg) center top no-repeat;
}

.container {
    height: 100%;
    width: 1080px;
    padding-top: 42px;
    margin: 0 auto;
    position: relative;
    margin-bottom:42px;
}


.container .logo a{
    display: block;
    width: 118px;
    height: 117px;
    margin: 0 auto;
    margin-bottom: 52px;
    background: url("../images/logo.png") center center no-repeat;
}

.container .slogo{
    width: 450px;
    height: 234px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background: url("../images/slogan.png") center center no-repeat;
}

.container .play_btn{
    width: 39px;
    height: 45px;
    top: 400px;
    left: 340px;
    position: absolute;
    cursor: pointer;
    background:url("../images/play_btn.png") center center no-repeat;
}

.subtitle {
    width: 498px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 25px;
    background: url(../images/fubiao2.png) center center no-repeat;
}

/*中间的方框*/
.saoma_top{
    width: 498px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.saoma{
    width: 258px;
    height: 235px;
    float: left;
    background: #2ac2a7;
    padding-left: 9px;
}
.saoma .zxerweima{
    width: 222px;
    height: 222px;
    margin: 0 auto;
    background: #fff;
    margin-top: 7px;
    margin-right: 10px;
    float: right;
}
.saoma .zxerweima img{
    width: 100%;
    height: 100%;
    display: block;
}
.saoma p{
    width: 20px;
    font-size: 16px;
    color: #fff;
    margin-top: 40px;
    float: left;
}
.download_box{
    width: 223px;
    height: 173px;
    float: right;
    margin-top: 82px;
}

.download_box .appstore{
    display: block;
    width: 223px;
    height: 72px;
    margin-bottom: 9px;
    background: url(../images/appstore.jpg) no-repeat;
}
.download_box .android{
    display: block;
    width: 223px;
    height: 72px;
    background: url(../images/android.jpg) no-repeat;
}
.enter_box{
    width: 498px;
    height: 68px;
    margin: 0 auto;
    margin-bottom: 75px;
}
.enterpgweb_box{
    width: 222px;
    height: 91px;
    float: right;
}
.enterpgweb_box a{
    display: block;
    width: 219px;
    height: 91px;
    background: url(../images/enterpgweb.jpg) no-repeat;
    margin-right: 10px;
    font-size: 30px;
    text-align: center;
    color:#fff;
    line-height: 91px;
    text-indent: 45px;
    font-weight: bold;

}
.enterpgweb_box a:hover{
    background: url(../images/enterpgwebhover.jpg) no-repeat;
}
.entermgweb_btn{
    width: 219px;
    height: 91px;
    float: left;
}
.entermgweb_btn a{
    display: block;
    width: 219px;
    height: 91px;
    background: url(../images/entermgweb.jpg) no-repeat;
    margin-right: 10px;
    font-size: 30px;
    text-align: center;
    color:#fff;
    line-height: 91px;
    text-indent: 45px;
    font-weight: bold;
}
.entermgweb_btn a:hover{
    background: url(../images/entermgwebhover.jpg) no-repeat;
}

/*第三部分*/

/* 特色 */
.story {
    width: 1388px;
    height: 530px;
    padding-top: 55px;
    margin-left: -154px;
    margin-bottom: 100px;
    position: relative;
}

.tit_ts {
    width: 632px;
    height: 74px;
    margin-left: -316px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 3;
    background: url('../images/tit_ts.png') no-repeat center center;
}

.story_lunbo {
    width: 1388px;
    height: 530px;
    position: relative;
    overflow: hidden;
}

.story_lunbo a.prevPage {
    display: block;
    width: 38px;
    height: 79px;
    position: absolute;
    top: 250px;
    left: 140px;
    cursor: pointer;
    background: url(../images/next_l.png) center center no-repeat;
    z-index: 5;
}

.story_lunbo a.nextPage {
    display: block;
    width: 38px;
    height: 79px;
    position: absolute;
    top: 250px;
    right: 140px;
    cursor: pointer;
    background: url(../images/next_r.png) center center no-repeat;
    z-index: 5;
}

.story_lunbo ul {
    width: 1388px;
    height: 530px;
    position: relative;
}

.story_lunbo ul li {
    width: 1388px;
    height: 530px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all .8s;
    -o-transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
}

.story_lunbo ul li.on {
    z-index: 3;
    opacity: 1;
}

.story_lunbo ul li a {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-mask: url('../images/mask.png') no-repeat;
    cursor: default;
    -webkit-mask-size: 400% 500%;
    -webkit-mask-position: 0% 0%;
}

.story_lunbo ul li a {
    width: 100%;
    height: 100%;
    display: block;
}

.story_lunbo ul li a img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.pageSign {
    width: 160px;
    height: 11px;
    margin-left: -80px;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 5;
    text-align: center;
}

.pageSign span {
    width: 15px;
    height: 16px;
    margin: 0 11px;
    float: left;
    text-indent: -9999px;
    cursor: pointer;
    background: url(../images/dot.png) center center no-repeat;
}

.pageSign span.swiper-pagination-bullet-active,
.pageSign span.on {
    background: url(../images/doth.png) center center no-repeat;
}

/*第四部分*/
/* 角色 */
.roleBox {
    width: 1080px;
    height: 550px;
    margin: 0 auto;
    position: relative;
}

.role_tab {
    position: absolute;
    top: 0;
    right: 0;
}

.role_tab a {
    width: 69px;
    height: 79px;
    position: absolute;
    font-size: 14px;
    color: #0bac9c;
    line-height: 79px;
    text-align: center;
    background: url('../images/role_tab.png') center center no-repeat;
}

.role_tab a.on, .role_tab a:hover {
    color: #fff;
    background: url('../images/role_tab1.png') center center no-repeat;
}

.role_tab a.qy {
    top: 0;
    right: 37px;
}

.role_tab a.hh {
    top: 77px;
    right: 57px;
}

.role_tab a.gw {
    top: 139px;
    right: 10px;
}

.role_tab a.ty {
    top: 205px;
    right: 48px;
}

.role_inf {
    width: 358px;
    position: absolute;
    top: 100px;
    left: 445px;
}

.infBox {
    display: none;
}

.infBox h3 {
    height: 80px;
    color: #2ac2a7;
    font-size: 59px;
    font-family: 'fz', '宋体';
}

.inf_cont {
    width: 358px;
    height: 93px;
    padding: 13px 0;
    position: relative;
    left: 12px;
    background: url(../images/infcont.png) center center no-repeat;
}

.inf_cont li {
    width: 100%;
    height: 17px;
    padding: 7px 0;
    line-height: 17px;
    display: block;
}

.inf_cont li .type {
    margin-right: 12px;
    float: left;
}

.iseasy {
    width: 16px;
    height: 16px;
    margin-right: 7px;
    display: block;
    float: left;
    background: url(../images/iseasy.png) center center no-repeat;
}

.s0 .qy, .s1 .hh,
.s2 .gw, .s3 .ty {
    display: block;
}

.role_attr {
    width: 320px;
    height: 500px;
    position: absolute;
    top: -30px;
    right: 135px;
}

.role_attr span {
    width: 320px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.attr_qy {
    background: url('../images/attr_qy.png') center center no-repeat;
}

.attr_hh {
    background: url('../images/attr_hh.png') center center no-repeat;
}

.attr_gw {
    background: url('../images/attr_gw.png') center center no-repeat;
}

.attr_ty {
    background: url('../images/attr_ty.png') center center no-repeat;
}

.role_view {
    position: absolute;
    top: 0;
    bottom: 0;
}

.role_view span {
    position: absolute;
    display: none;
    bottom: 0;
}

.role_qy {
    width: 845px;
    height: 640px;
    left: -240px;
    background: url('../images/role_qy.png') center center no-repeat;
}

.role_hh {
    width: 1019px;
    height: 642px;
    left: -400px;
    background: url('../images/role_hh.png') center center no-repeat;
}

.role_gw {
    width: 915px;
    height: 614px;
    left: -120px;
    background: url('../images/role_gw.png') center center no-repeat;
}

.role_ty {
    width: 1069px;
    height: 680px;
    left: -200px;
    background: url('../images/role_ty.png') center center no-repeat;
}


/*健康游戏忠告*/
.health{
    width: 100%;
    margin: 20px auto;
    text-align: center;
    /*margin-bottom: 40px;*/
}
.health h1{
    font-size: 24px;
    font-weight: bold;
    color: #828788;
    margin-bottom: 10px;
}
/*底部*/
.footer{
    height: 180px;
    background-color: #fff;
}
.foot-l{
    width: 144px;
    height: 143px;
    margin-top: 18px;
    background: url(../images/logo.png) no-repeat;
    float: left;
    margin-right: 50px;
}
.foot-l a{
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -2000em;
}
.foot{
    width: 1050px;
    height: 125px;
    padding-top: 15px;
    margin: 0 auto;
}
.top-logo{
    height: 50px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.top-logo>a{
    display: inline-block;
    height:47px;
    width: 122px;
    background: url("../images/bg.gif") 0px 0px;
}
.top-logo li{
    float: left;
    width: 80px;
    height: 20px;
    line-height: 20px;
}
.top-logo ul{
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 50px;
}
.top-logo li a{
    color: #666;
    font-size: 14px;
}
.bott-text{
    text-align: center;
    font-size: 12px;
    color: #666;
    height: 60px;
    width: 1000px;
}

/* 音频控制 */
.bg_audio {
    width: 0;
    height: 0;
    position: fixed;
    right: 0;
    top: -100px;
}

.sound_control {
    width: 40px;
    height: 36px;
    margin-left: 500px;
    position: fixed;
    top: 100px;
    left: 50%;
    z-index: 10;
    background: url(../images/sound_off.png) center center no-repeat;
    cursor: pointer;
}

.sound_control_detail {
    right: 260px;
}

/*.sound_xq {*/
    /*background: url(../images/sound_offp.png) center center no-repeat;*/
/*}*/

.sound_control.on {
    background: url(../images/sound_on.png) center center no-repeat;
}

/*.sound_xq.on {*/
    /*background: url(../images/sound_onp.png) center center no-repeat;*/
/*}*/

/*快速导航*/
.actGotop {
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 40px;
    height: 121px;
    z-index: 100;
    display: none;
}

.actGotop span{
    display:block;
    width: 24px;
    /*height: 16px;*/
    padding: 8px;
    font-size: 14px;
    color: #0bac9c;
    border: 1px solid #0bac9c;
    background: #fff;
}
.actGotop i{
    display: block;
    width: 40px;
    height: 34px;
    background: #0bac9c;
    position: relative;
    border: 1px solid #0bac9c;
}
.actGotop i:before{
    content: '';
    width: 16px;
    height: 8px;
    margin: -4px 0 0 -8px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../images/totop.png) center center no-repeat;
}


